@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer components {
  .btn-primary {
    @apply bg-primary text-white py-2 px-4 rounded-md transition-all duration-300 hover:bg-opacity-90;
  }
  
  .constitutional-heading {
    @apply font-serif text-4xl md:text-5xl lg:text-6xl text-primary font-bold;
  }
}
